@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

.font-handwritten {
  font-family: 'Zen Maru Gothic', sans-serif !important;
}

.note-paragraph {
  background-image: linear-gradient(
    180deg,
    rgba(204, 204, 204, 0) 0%,
    rgba(204, 204, 204, 0) 98.5%,
    rgba(100, 100, 100, 100) 100%
  );
  background-repeat: repeat-y;
  background-size: 100% 1.5em;
  line-height: 1.5;
  min-height: 1.5em;
}

.comment-paragraph {
  min-height: 1.5em;
}
